<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dralia" value="https://pkgs.dev.azure.com/docplanner/_packaging/dralia/nuget/v3/index.json" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSourceCredentials>
        <dralia>
            <add key="Username" value="dummy value here" />
            <add key="ClearTextPassword" value="uwqavo225jriftkhmdmerpgswdlwztyfionpis6dqupj3dobqwqa" />
        </dralia>
    </packageSourceCredentials>
</configuration>